h1 {
	text-align: center;
	font-family: sans-serif;
	margin-bottom: 30px;
	color: lightgoldenrodyellow;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

body {
	background-color: hotpink;

}

img {
	border-radius: 50px;
	height: 150px;
	width: 150px;
}

div {
	margin-top: 30px;
	width: 360px;
	text-align: left;
	color: bisque;
	font-weight: bolder;
	font-size: 25px;
	font-family: sans-serif;
}